<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    
    <!-- Include Spring Boot's logback extensions -->
    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>
    
    <!-- Define log path variable -->
    <property name="LOG_PATH" value="logs"/>

    <!-- Console appender with regular format -->
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} %5p --- [%15.15t] %-40.40logger{39} [%X{correlationId:-}] : %m%n</pattern>
        </encoder>
    </appender>

    <!-- File appender for text format logs -->
    <appender name="FILE_TEXT" class="ch.qos.logback.core.FileAppender">
        <file>${LOG_PATH}/application.log</file>
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} [%X{correlationId:-}] - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- File appender for JSON format logs -->
    <appender name="FILE_JSON" class="ch.qos.logback.core.FileAppender">
        <file>${LOG_PATH}/application-log-json.log</file>
        <encoder class="net.logstash.logback.encoder.LoggingEventCompositeJsonEncoder">
            <providers>
                <timestamp>
                    <timeZone>UTC</timeZone>
                    <pattern>yyyy-MM-dd'T'HH:mm:ss.SSSXXX</pattern>
                </timestamp>
                <logLevel>
                    <fieldName>level</fieldName>
                </logLevel>
                <loggerName>
                    <fieldName>logger</fieldName>
                </loggerName>
                <message>
                    <fieldName>message</fieldName>
                </message>
                <mdc>
                    <fieldName>mdc</fieldName>
                </mdc>
                <arguments/>
                <stackTrace/>
                <pattern>
                    <pattern>
                        {
                            "thread": "%thread",
                            "application": "HelloGithubActions",
                            "version": "${APPLICATION_VERSION:-unknown}",
                            "environment": "${SPRING_PROFILES_ACTIVE:-default}"
                        }
                    </pattern>
                </pattern>
            </providers>
        </encoder>
    </appender>

    <!-- Root logger -->
    <root level="INFO">
        <appender-ref ref="CONSOLE"/>
        <appender-ref ref="FILE_TEXT"/>
        <appender-ref ref="FILE_JSON"/>
    </root>

</configuration>